<ion-content class="login-content" padding>
	<div text-center>
		<img src="http://placehold.it/300x200"/>
	</div>
	<div class="login-box">
		<form [formGroup]="form" (ngSubmit)="loginForm()">
			<ion-row>
				<ion-col>
					<ion-list inset>
						<ion-item>
							<ion-input type="text" formControlName="email" value="aaa@aaa.com" placeholder="E-mail" required></ion-input>
						</ion-item>
						<ion-item>
							<ion-input type="{{type}}" value="mab123" formControlName="password" placeholder="Password" required></ion-input>
							<button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
								<ion-icon name="ios-eye-off-outline"></ion-icon>
							</button>
							<button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()">
								<ion-icon name="ios-eye-outline"></ion-icon>
							</button>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="signup-col">
					<button ion-button type="submit" color="primary" [disabled]="!form.valid" full>Iniciar sesión</button>
				</ion-col>
			</ion-row>
		</form>
		<!--ion-card>
			 <ion-card-content>
				<b>{{data.response}}</b>
			 </ion-card-content>
		</ion-card-->
		<ion-row>
			<ion-col class="signup-col">
				<button ion-button class="register-btn" (click)="crearCuenta()" clear>Crear nueva cuenta</button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
