page-cerrar_viaje {
	.login-box {
		@media (min-width: 992px){
			margin-left: 33.33333333%;
			width: 33.33333333%;
		}
		textarea {
			resize: none;
		}
		.label-md {
			margin: 13px 8px;
		}
		.item-md {
			padding: 0;
		}
    }
}
