<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-searchbar (ionInput)="buscarItems($event)" placeholder="Buscar" ></ion-searchbar>
    <!--ion-title>Home</ion-title-->
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!--h2 text-center>Listado de viajes</h2-->
	<ion-refresher (ionRefresh)="actualizarListado($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastrar para actualizar" refreshingSpinner="circles" refreshingText="Actualizando..."></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-item *ngFor="let item of viajesProvider.items; let i=index" (click)="verSubmenu(i)" [ngClass]="{active: isGroupShown(i)}">
			<ion-icon *ngIf="item.status != 1" name="pin"></ion-icon>
			<ion-icon *ngIf="item.status == 1 && item.en_proceso == 0 && item.distancia_total_recorrida == 0" name="checkmark-circle"></ion-icon> 
			<ion-icon *ngIf="locationTracker.isTracking[item.id] || (item.status == 1 && item.en_proceso == 1 && item.distancia_total_recorrida == 0)" name="car"></ion-icon> 
			<ion-icon *ngIf="item.status == 1 && item.en_proceso == 1 && item.distancia_total_recorrida > 0" name="unlock"></ion-icon> 
			({{ item.id }}) {{ item.origen }}
			<ion-item-group submenu text-wrap *ngIf="isGroupShown(i)">
				<ion-item submenu-item>ID: <b>{{ item.id }}</b></ion-item>
				<ion-item submenu-item>Fecha: <b>{{ item.fecha }} {{ item.hora }}</b></ion-item>
				<ion-item submenu-item>Pedido por: <b>{{ item.responsable.nombre }}</b></ion-item>
				<ion-item submenu-item>Empresa: <b>{{ item.empresa.nombre }}</b></ion-item>
				<!--ion-item submenu-item>Proveedor: <b>{{ item.proveedor.nombre }}</b></ion-item-->
				<ion-item submenu-item>Origen: <b>{{ item.origen }}</b></ion-item>
				<ion-item submenu-item>Destino: <b>{{ item.destino }}</b></ion-item>
				<ion-item submenu-item>Pasajero 1: <b>{{ item.pasajero1.trim() }}</b></ion-item>
				<ion-item submenu-item>Centro de costo 1: <b>{{ item.cc1.descripcion }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero2.trim() != ''">Pasajero 2: <b>{{ item.pasajero2.trim() }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero2.trim() != ''">Centro de costo 2: <b>{{ item.cc2.descripcion }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero3.trim() != ''">Pasajero 3: <b>{{ item.pasajero3.trim() }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero3.trim() != ''">Centro de costo 3: <b>{{ item.cc3.descripcion }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero4.trim() != ''">Pasajero 4: <b>{{ item.pasajero4.trim() }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.pasajero4.trim() != ''">Centro de costo 4: <b>{{ item.cc4.descripcion }}</b></ion-item>
				<ion-item submenu-item>Observaciones: <b>{{ item.observaciones }}</b></ion-item>
				<ion-item submenu-item *ngIf="item.status != 1" >Distancia recorrida: <b>{{ item.distancia_total_recorrida }} km</b></ion-item>
				<ion-item submenu-item>
					<ion-buttons end>
						<button ion-button *ngIf="item.fechaValida && item.status == 1 && item.en_proceso == 0 && item.distancia_total_recorrida == 0" color="danger" (click)="preguntarRechazarViaje($event, item)" clear>Rechazar</button>
						<button ion-button *ngIf="item.fechaValida && item.status == 1 && item.en_proceso == 1 && item.distancia_total_recorrida > 0" color="danger" (click)="cerrarViaje($event, item)" clear>Cerrar</button>
						<button ion-button (click)="verRecorrido($event, item)" clear>Ver</button>
					</ion-buttons>
				</ion-item>
			</ion-item-group>
	  </ion-item>
	</ion-list>
	<ion-infinite-scroll *ngIf="viajesProvider.contador < viajesProvider.viajesAux.length" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más viajes..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
