page-home {
	ion-content{
		ion-item-group[submenu] {
			.label-md {
				margin: 0;
				line-height: 1;
			}
		}
		
		.ion-md-pin {
			color: #488aff  !important;
		}
		
		.ion-ios-pin {
			color: #488aff  !important;
		}
		
		.ion-md-checkmark-circle{
			color: #2ec95c !important;
		}
		
		.ion-ios-checkmark-circle {
			color: #2ec95c !important;
		}
		
		.ion-md-car {
			color: #488aff  !important;
		}
		
		.ion-ios-car {
			color: #488aff  !important;
		}
		
		.ion-md-unlock {
			color: #e13838 !important;
		}
		
		.ion-ios-unlock {
			color: #e13838 !important;
		}
	}
}
