<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!viajeActual">
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title>Viaje {{viajeActual.id}}</ion-title>
	<ion-buttons end>
		<button *ngIf="!viajeIniciado && viajeActual.status == 1" ion-button color="secondary" (click)="comenzarViaje()">Comenzar</button>
		<button *ngIf="viajeIniciado && viajeActual.status == 1" ion-button color="danger" (click)="finalizarViaje()">Finalizar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-scroll scrollY="true" class="scroll">
    <div padding-horizontal id="panel"></div>
  </ion-scroll>
</ion-content>
