<ion-header>
  <ion-navbar hideBackButton>
    <button menuToggle *ngIf="!viaje">
      <ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons left>
        <button ion-button (click)="goHome()">
            <ion-icon class="arrow-size" name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
		<ion-title>Viaje {{viaje.id}}</ion-title>
		<ion-buttons end>
			<button *ngIf="viaje.distancia_total_recorrida == 0 && viaje.en_proceso == 0 && viaje.status == 1" ion-button color="secondary" (click)="startTrip()">Comenzar</button>
			<button *ngIf="viaje.distancia_total_recorrida == 0 && viaje.en_proceso == 1 && viaje.status == 1" ion-button color="danger" (click)="finishTrip()">Finalizar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<div id="map"></div>
	<ion-scroll scrollY="true" class="scroll">
		<div padding-horizontal id="panel"></div>
	</ion-scroll>
</ion-content>
